<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Categorias</h3>
      </div>

      
    </div>

    <div class="clearfix"></div>

    <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <a href="<?php echo $this->url('admin') ?>/categoria/save" class="btn btn-success">Adicionar Categoria</a>                 
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Categorias </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>-->
                      <!--<li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>-->
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Ações</th>

                      </tr>
                    </thead>


                    <tbody>
                     <?php foreach ($categorias as $categoria): ?>
                      <tr>
                        <td><?php echo $this->escapeHtml($categoria['nome']); ?></td>
                         <td><?php if($categoria['tipo']=='s'){ echo "Saída"; } ?><?php if($categoria['tipo']=='e'){ echo "Entrada"; } ?></td>
                        <td>
                          <a href="<?php echo $this->url('admin') ?>/categoria/save/id/<?php echo $categoria['id']; ?>" title="Editar" class="btn">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a href="<?php echo $this->url('admin') ?>/categoria/delete/id/<?php echo $categoria['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>                         
                      </tr>
                    <?php endforeach; ?>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
        <!-- /page content -->