<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li><a href="<?php echo $this->url('home') ?>admin/usuario/perfil">Minha Conta</a></li>
            <li class="active">Perfil</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 col-sm-2">
                <section id="sidebar">
                    <header><h3>Minha Conta</h3></header>
                    <aside>
                        <ul class="sidebar-navigation">
                            <li class="active"><a href="<?php echo $this->url('home') ?>admin/usuario/perfil"><i class="fa fa-user"></i><span>Perfil</span></a></li>
                            <li><a href="<?php echo $this->url('home') ?>admin/imovel/meusimoveis"><i class="fa fa-home"></i><span>Meus Imóveis</span></a></li>
<!--                            <li><a href="bookmarked.html"><i class="fa fa-heart"></i><span>Imóveis Favoritos</span></a></li>-->
                        </ul>
                    </aside>
                </section><!-- /#sidebar -->
            </div><!-- /.col-md-3 -->
            <!-- end Sidebar -->
            <!-- My Properties -->
            <div class="col-md-9 col-sm-10">
                <section id="profile">
                    <header><h1>Perfil</h1></header>
                    <div class="account-profile">
                        <div class="row">

                            <div class="col-md-12 col-sm-12">
                                <form role="form" id="form-account-profile" action="<?php echo $this->url('home') ?>admin/usuario/atualizar" method="post" >
                                    <?php if (isset($_SESSION['mensagem'])) { ?>
                                        <h3 style="" ><?php echo $_SESSION['mensagem']; ?></h3>
                                        <?php unset($_SESSION['mensagem']); ?>
                                    <?php } ?>
                                    <?php foreach ($usuario as $user) { ?>
                                        <div class="radio" id="create-account-user">
                                            <label>
                                                <input type="radio" id="account-type-user"  <?php
                                                if ($user['tipo_id'] == '1') {
                                                    echo "checked";
                                                } else {
                                                    echo"disabled";
                                                }
                                                ?> value="1" name="tipo_id" required>Proprietário
                                            </label>
                                        </div>
                                        <div class="radio" id="agent-switch" data-agent-state="">
                                            <label>
                                                <input type="radio" id="account-type-agent"  <?php
                                                if ($user['tipo_id'] == '2') {
                                                    echo "checked";
                                                } else {
                                                    echo"disabled";
                                                }
                                                ?> value="2" name="tipo_id" required>Consultor
                                            </label>
                                        </div>
                                        <div class="radio" id="create-account-agency">
                                            <label>
                                                <input type="radio" id="account-type-agency"  <?php
                                                if ($user['tipo_id'] == '3') {
                                                    echo "checked";
                                                } else {
                                                    echo"disabled";
                                                }
                                                ?> value="3" name="tipo_id" required>Imobiliária
                                            </label>
                                        </div>

                                        <section id="contact">
                                            <h3>Contato</h3>
                                            <dl class="contact-fields">
                                                <dt><label for="form-account-name">Seu Nome:</label></dt>
                                                <dd><div class="form-group">
                                                    <!--<input type="text" class="form-control" id="form-account-name" name="form-account-name" required value="Jeffrey Scott">-->
                                                        <input type="text" class="form-control" value="<?php echo $user['nome']; ?>" name="nome" id="form-create-account-full-name" required>
                                                    </div><!-- /.form-group --></dd>
                                                <dt><label for="form-account-phone">Telefone:</label></dt>
                                                <dd><div class="form-group">
                                                        <input type="text" class="form-control" value="<?php echo $user['telefone']; ?>" name="telefone" id="form-create-account-email">
                                                    </div><!-- /.form-group --></dd>
                                                <dt><label for="form-account-email">Email:</label></dt>
                                                <dd><div class="form-group">
                                                        <input type="email" class="form-control" value="<?php echo $user['nomeusuario']; ?>" name="nomeusuario" id="form-create-account-email" required>
                                                    </div><!-- /.form-group --></dd>

                                            </dl>
                                            <div class="form-group">
                                                <label for="form-account-password-current">Senha Atual</label>
                                                <input type="password" class="form-control" name="senha" id="form-create-account-password" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-account-password-new">Nova Senha</label>
                                                <input type="password" class="form-control" name="senhanova" pattern="^.{6,10}$" onchange="form.confirmarsenha.pattern = this.value;" id="form-create-account-password" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-account-password-confirm-new">Confirmar Nova Senha</label>
                                                <input type="password" class="form-control" name="confirmarsenha" pattern="^.{6,10}$"  id="form-create-account-confirm-password" >
                                            </div><!-- /.form-group -->
                                        <?php } ?>
                                        <div class="form-group clearfix">
                                            <button type="submit" name="btnsubmit" class="btn btn-default" id="form-account-password-submit">Salvar Alterações</button>
                                        </div><!-- /.form-group -->
                                    </section>
                                </form>
                                <?php if (!empty($consultor)) { ?>
                                    <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/consultor/atualizar" method="post" enctype="multipart/form-data" >
                                        <?php foreach ($consultor as $consult) { ?>
                                            <section id="about-me">
                                                <h3>CRECI</h3>
                                                <div class="form-group">
                                                    <!--<textarea class="form-control" id="form-contact-agent-message" rows="5" name="creci" required><?php echo $consult['creci']; ?></textarea>-->
                                                        <input type="text" class="form-control" value="<?php echo $consult['creci']; ?>" name="creci" id="form-create-account-desc" required>
                                                </div><!-- /.form-group -->

                                            </section>
                                            <section id="about-me">
                                                <h3>Sobre mim</h3>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="form-contact-agent-message" rows="5" name="descricao" required><?php echo $consult['descricao']; ?></textarea>
        <!--                                                <input type="text" class="form-control" value="<?php echo $consult['descricao']; ?>" name="descricao" id="form-create-account-desc" required>-->
                                                </div><!-- /.form-group -->

                                            </section>
                                         <div class="form-group">
                                                <label for="form-create-account-desc">Estado:</label>
                       
                                                <select required onchange="carregarCidades(this.value)" name="estado_id" id="submit-location">
                                                    <option value="">Selecione o Estado
                                                    </option>
                                                    <?php foreach ($estados as $estado) { ?>
                                                        <option <?php
                                                        if ($consult['estado_id'] == $estado['sigla']) {
                                                            echo "selected='selected'";
                                                        }
                                                        ?> value="<?php echo $estado['sigla']; ?>">
                                                                <?php echo $estado['nome']; ?>
                                                        </option>
                                                    <?php } ?>
                                                </select>
                                            </div> <!--/.form-group -->
                                            <div class="form-group" >
                                                <label for="submit-location">Cidade</label>
                                                <div id="cidades">    
                                                    <select required name="cidade_id" id="submit-location" >
                                                        <option value="">Selecione a Cidade</option>   
                                                        <?php foreach ($cidades as $cidade) { ?>
                                                            <option <?php
                                                            if ($consult['cidade_id'] == $cidade['cidade_id']) {
                                                                echo "selected='selected'";
                                                            }
                                                            ?> value="<?php echo $cidade['cidade_id']; ?>">
                                                                    <?php echo $cidade['desc_cidade']; ?>
                                                            </option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3 col-sm-3">
                                                    <section id="social">
                                                        <h3>Foto:</h3>
                                                        <div class="form-group">
                                                            <!--                                                    <label for="form-create-account-foto">Foto:</label>-->
                                                            <input type="file" class="form-control" value="<?php echo $consult['foto']; ?>" name="foto" id="form-create-account-foto" >
                                                            <img src="<?php echo $this->basePath(); ?>/data/consultores/400/<?php echo $consult['foto']; ?>" >
                                                        </div><!-- /.form-group -->
                                                    </section>
                                                </div>


                                                <div class="col-md-9 col-sm-9">
                                                    <section id="social">
                                                        <h3>Minhas Redes Sociais</h3>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                                <input type="text" class="form-control" value="<?php echo $consult['twitter']; ?>" name="twitter" id="form-create-account-twitter" >
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                                <input type="text" class="form-control" value="<?php echo $consult['facebook']; ?>" name="facebook" id="form-create-account-confirm-facebook" >
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                                                <input type="text" class="form-control" value="<?php echo $consult['skype']; ?>" name="skype" id="form-create-account-skype">
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                                                                <input type="text" class="form-control" value="<?php echo $consult['celular']; ?>" name="celular" id="form-create-account-celular">
                                                            </div>
                                                        </div><!-- /.form-group -->
                                                    <?php } ?>
                                                    <div class="form-group clearfix">
                                                        <button type="submit" class="btn pull-right btn-default" id="account-submit">Salvar Alterações</button>
                                                    </div><!-- /.form-group -->
                                                </section>

                                            </div>
                                        </div>

                                    </form><!-- /#form-contact -->
                                <?php } ?>
                                <?php if (!empty($imobiliaria)) { ?>
                                    <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/imobiliaria/atualizar" method="post" enctype="multipart/form-data" >
                                        <?php foreach ($imobiliaria as $imob) { ?>
                                            <div class="form-group">
                                                <label for="form-create-account-creci">CNPJ:</label>
                                                <input type="text" class="form-control" name="cnpj" value="<?php echo $imob['cnpj']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-creci">Nome:</label>
                                                <input type="text" class="form-control" name="nome" value="<?php echo $imob['nome']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Sobre a Empresa:</label>
                                                <textarea class="form-control" id="form-contact-agent-message" rows="5"  name="descricao" required><?php echo $imob['descricao']; ?></textarea>
                                            </div><!-- /.form-group -->   
                                            <div class="form-group">
                                                <label for="form-create-account-desc">CEP:</label>
                                                <input type="text" class="form-control" name="cep" value="<?php echo $imob['cep']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Estado:</label>
                        <!--                        <input type="text" class="form-control" name="endereco" id="form-create-account-creci" required>-->
                                                <select required onchange="carregarCidades(this.value)" name="estado_id" id="submit-location">
                                                    <option value="">Selecione o Estado
                                                    </option>
                                                    <?php foreach ($estados as $estado) { ?>
                                                        <option <?php
                                                        if ($imob['estado_id'] == $estado['sigla']) {
                                                            echo "selected='selected'";
                                                        }
                                                        ?> value="<?php echo $estado['sigla']; ?>">
                                                                <?php echo $estado['nome']; ?>
                                                        </option>
                                                    <?php } ?>
                                                </select>
                                            </div><!-- /.form-group -->
                                            <div class="form-group" >
                                                <label for="submit-location">Cidade</label>
                                                <div id="cidades">    
                                                    <select required name="cidade_id" id="submit-location" >
                                                        <option value="">Selecione a Cidade</option>   
                                                        <?php foreach ($cidades as $cidade) { ?>
                                                            <option <?php
                                                            if ($imob['cidade_id'] == $cidade['cidade_id']) {
                                                                echo "selected='selected'";
                                                            }
                                                            ?> value="<?php echo $cidade['cidade_id']; ?>">
                                                                    <?php echo $cidade['desc_cidade']; ?>
                                                            </option>
                                                        <?php } ?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Rua e Numero:</label>
                                                <input type="text" class="form-control" name="endereco" value="<?php echo $imob['endereco']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Email:</label>
                                                <input type="text" class="form-control" name="email" value="<?php echo $imob['email']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Web site:</label>
                                                <input type="text" class="form-control" name="website" value="<?php echo $imob['website']; ?>" id="form-create-account-creci" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Telefone 1:</label>
                                                <input type="text" class="form-control" name="telefone" value="<?php echo $imob['telefone']; ?>" id="form-create-account-creci" required>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-desc">Telefone 2:</label>
                                                <input type="text" class="form-control" name="celular" value="<?php echo $imob['celular']; ?>" id="form-create-account-creci" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-foto">Logomarca:</label>
                                                <input type="file" class="form-control" name="logomarca" value="<?php echo $imob['logomarca']; ?>" id="form-create-account-foto" >
                                                <img style="width: 100px;" src="<?php echo $this->basePath(); ?>/data/imobiliarias/<?php echo $imob['logomarca']; ?>" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-twitter">Twitter:</label>
                                                <input type="text" class="form-control" name="twitter" value="<?php echo $imob['twitter']; ?>" id="form-create-account-twitter" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-confirm-facebook">Facebook:</label>
                                                <input type="text" class="form-control" name="facebook" value="<?php echo $imob['facebook']; ?>" id="form-create-account-confirm-facebook" >
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="form-create-account-skype">Skype:</label>
                                                <input type="text" class="form-control" name="skype" value="<?php echo $imob['skype']; ?>" id="form-create-account-skype">
                                            </div><!-- /.form-group -->

                                            <div class="form-group clearfix">
                                                <button type="submit" class="btn pull-right btn-default" id="account-submit">Salvar</button>
                                            </div><!-- /.form-group -->
                                        <?php } ?>

                                    </form><!-- /#form-contact -->
                                <?php } ?>
                            </div><!-- /.col-md-9 -->
                        </div><!-- /.row -->
                    </div><!-- /.account-profile -->
                </section><!-- /#profile -->
            </div><!-- /.col-md-9 -->
            <!-- end My Properties -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->