<?php
//echo $this->formCollection($form);
?>
<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			<h3>Alterar Senha</h3>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Alterar Senha </h2>
						
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
					  <?php if(isset($_SESSION['mensagem'])){ ?>
                    <h3><?php echo $_SESSION['mensagem']; ?></h3>
                    <?php unset($_SESSION['mensagem']);  ?>
                    <?php } ?>

						<!--<form class="form-horizontal form-label-left" novalidate>-->

						<form action="<?php echo $this->url('home') ?>admin/usuario/atualizar" method="post" class="form-horizontal form-label-left" novalidate>
						<?php foreach($usuario as $user){ ?>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input name="nome" type="text" class="form-control col-md-7 col-xs-12" value="<?php echo $user['nome']; ?>">
									<input name="id" type="hidden"  value="<?php echo $user['id']; ?>">
									<input name="role" type="hidden"  value="<?php echo $user['role']; ?>">
									<input name="nomeusuario" type="hidden"  value="<?php echo $user['nomeusuario']; ?>">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="senha">Senha Antiga <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input name="senha" type="password" class="form-control col-md-7 col-xs-12" value="">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="senhanova">Nova Senha <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input name="senhanova" type="password" class="form-control col-md-7 col-xs-12" value="">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="repetirsenha">Repetir Senha <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input name="repetirsenha" type="password" class="form-control col-md-7 col-xs-12" value="">
								</div>
							</div>

							

							
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									
									<button id="send" type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>
							<?php } ?>
						<!--</form>-->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        <!-- /page content -->