<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li class="active">Resuperar Senha</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <script type="text/javascript">
        function OnSubmitForm()
        {
//        alert("to aqui");
        //Montando URL
        var url = "<?php echo $this->url('home') ?>application/index/imoveis";

        var finalidade = document.getElementById("finalidade").value;
        var teste1 = document.getElementById("finalidade");
        var finalidadeText = teste1.options[teste1.selectedIndex].text;
//        alert(finalidadeText);
var estado = document.getElementById("estado").value;
var cidade = document.getElementById("cidade").value;
var teste2 = document.getElementById("cidade");
var cidadeText = teste2.options[teste2.selectedIndex].text;
var bairro = document.getElementById("bairro").value;
var tipo = document.getElementById("tipo").value;
var teste3 = document.getElementById("tipo");
var tipoText = teste3.options[teste3.selectedIndex].text;

if (finalidade != "") {
    url = url + "/f/" + finalidade;           
}

if (cidade != "") {
    url = url + "/c/" + cidade;            
}        
if (tipo != "") {
    url = url + "/t/" + tipo;          
}
if (cidade != "") {         
    url = url + "/cidade/" + cidadeText.replace(" ", "_");
}
if (estado != "") {
    url = url + "/estado/" + estado;
}
if (bairro != "") {
    url = url + "/bairro/" + bairro.replace(" ", "_");
}
if (finalidade != "") {          
    url = url + "/finalidade/" + finalidadeText;
}
if (tipo != "") {           
    url = url + "/tipo/" + tipoText.replace(" ", "_");
}
//        alert(url);
//        document.buscahome.action = url;

window.location.href = url;

return false;
}
</script>
<div class="container">
    <div class="row">
        <!-- Contact -->
        <div class="col-md-9 col-sm-9">
            <section id="agent-detail">
                <header><h1>Esqueceu sua Senha?</h1></header>

               
                <section id="form">
                    <header><h3>Digite o seu email abaixo para recuperar a senha.</h3></header>
                    <?php if (!empty($_SESSION['msg']['msg'])) { ?>
                     <header><h3 style="font-weight: bold; " ><?php echo $_SESSION['msg']['msg']; ?></h3></header>
                     <?php
                     $_SESSION['msg']['msg'] = '';
                 }
                 ?>
                 <form role="form" id="form-contact" method="post"  class="clearfix">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form-contact-email">Seu Email<em>*</em></label>
                                <input type="email" class="form-control" id="form-contact-email" name="email" title="Preencha o campo com seu email." required>
                            </div><!-- /.form-group -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                   
                    <div class="form-group clearfix">
                        <button type="submit" class="btn pull-right btn-default" id="form-contact-submit" onclick="document.getElementById('form-contact').submit()">Resuperar Senha</button>
                    </div><!-- /.form-group -->
                    <div id="form-status"></div>
                </form><!-- /#form-contact -->
            </section>
        </section><!-- /#agent-detail -->
    </div><!-- /.col-md-9 -->
    <!-- end Contact -->

    <!-- sidebar -->
    <div class="col-md-3 col-sm-3">
        <section id="sidebar">
           <aside id="edit-search">
            <header><h3>Busca Imóveis</h3></header>
            <form role="form" id="form-sidebar" class="form-search" method="get" action="<?php echo $this->url('home') ?>application/index/imoveis" onsubmit="return OnSubmitForm();">
                <div class="form-group">                               
                    <select name="finalidade" id="finalidade">
                        <option value="">O que você precisa?</option>
                        <option  value="1">Comprar</option>
                        <option  value="2">Alugar</option>
                    </select>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <select name="estado" id="estado" onchange="carregarCidades(this.value)">
                        <option  value="0">Selecione o estado</option>
                        <?php foreach ($estados as $est) { ?>
                            <option  value="<?php echo $est['sigla']; ?>"><?php echo $est['nome']; ?></option>
                            <?php } ?>
                        </select>
                    </div><!-- /.form-group -->
                    <div class="form-group" id="cidades">
                        <select id="cidade" name="cidade" onchange="carregarBairros(this.value)">
                            <option value="">Selecione a cidade Cidade</option>

                        </select>
                    </div><!-- /.form-group -->
                    <div class="form-group" id="bairros">
                        <input type="text"  name="bairro" id="bairro" value="" placeholder="Bairro ou Região" list="bairro" autocomplete="off" >
                        <datalist id="bairro">

                        </datalist> 
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <select name="tipo" id="tipo">
                            <option  value="">Tipo</option>
                            <?php foreach ($tipos as $tip) { ?>
                                <option  value="<?php echo $tip['id']; ?>"><?php echo $tip['tipo']; ?></option>
                                <?php } ?>
                            </select>
                        </div><!-- /.form-group -->
                            <!--                            <div class="form-group">
                                                            <div class="price-range">
                                                                <input id="price-input" type="text" name="price" value="1000;999000">
                                                            </div>
                                                        </div>-->
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-default">Buscar Agora</button>
                                                        </div><!-- /.form-group -->
                                                    </form><!-- /#form-map -->
                                                </aside><!-- /#edit-search -->


                                            </section><!-- /#sidebar -->
                                        </div><!-- /.col-md-3 -->
                                        <!-- end Sidebar -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
    <!-- end Page Content -->