<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('home') ?>">Home</a></li>
            <li class="active">Criar uma Conta</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->
    <div class="container">
        <header><h1>Criar uma Conta</h1></header>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                <h3>Tipo de Conta</h3>
                <form role="form" id="form-create-account" action="<?php echo $this->url('home') ?>admin/usuario/registrar" method="post" >
                    <?php if(isset($_SESSION['mensagem'])){ ?>
                    <h3><?php echo $_SESSION['mensagem']; ?></h3>
                    <?php unset($_SESSION['mensagem']);  ?>
                    <?php } ?>
                    <div class="radio" id="create-account-user">
                        <label>
                            <input type="radio" id="account-type-user" value="1" name="tipo_id" required>Proprietário
                        </label>
                    </div>
                    <div class="radio" id="agent-switch" data-agent-state="">
                        <label>
                            <input type="radio" id="account-type-agent" value="2" name="tipo_id" required>Corretor
                        </label>
                    </div>
                    <div class="radio" id="create-account-agency">
                        <label>
                            <input type="radio" id="account-type-agency" value="3" name="tipo_id" required>Imobiliária
                        </label>
                    </div>
                    <!-- <div id="agency" class="disabled">
                        <div class="form-group">
                            <label for="account-agency">Selecione a sua imobiliaria:</label>
                            <select name="imobiliaria_id" id="account-agency">
                                <option value="0">Selecionar</option>
                                <?php foreach($imobiliarias as $imobiliaria){ ?>
                                <option value="1"><?php echo $imobiliaria['nome']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div> -->
                    <hr>
                    <div class="form-group">
                        <label for="form-create-account-full-name">Nome Completo:</label>
                        <input type="text" class="form-control" name="nome" id="form-create-account-full-name" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-email">Email:</label>
                        <input type="email" class="form-control" name="nomeusuario" id="form-create-account-email" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-password">Senha(6 a 10 caracteres):</label>
                        <input type="password" class="form-control" name="senha" pattern="^.{6,10}$" onchange="form.confirmarsenha.pattern = this.value;" id="form-create-account-password" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-confirm-password">Confirme a Senha:</label>
                        <input type="password" class="form-control" name="confirmarsenha" pattern="^.{6,10}$" id="form-create-account-confirm-password" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-email">Telefone:</label>
                        <input type="text" class="form-control" name="telefone" id="form-create-account-email">
                    </div><!-- /.form-group -->
                       <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox"  id="account-type-newsletter" name="newsletter" value="s" >Receber Newsletter
                            </label>
                        </div>   

                    <div class="form-group clearfix">
                        <button type="submit" class="btn pull-right btn-default" id="account-submit">Criar uma Conta</button>
                    </div><!-- /.form-group -->
                </form>
                <hr>
                <div class="center">
                    <figure class="note">Clicando “Criar uma Conta” você concorda com nossos<a href="<?php echo $this->url('home') ?>application/index/termosecondicoes">Termos e condições</a></figure>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="container">
        <header><h1>Já Tenho uma Conta</h1></header>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form role="form" name="login" action="<?php echo $this->url('home') ?>admin/auth/login" id="form-create-account" method="post" >
                    <div class="form-group">
                        <label for="form-create-account-email">Email:</label>
                        <input type="email" class="form-control" name="nomeusuario" id="form-create-account-email" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="form-create-account-password">Senha:</label>
                        <input type="password" class="form-control" name="senha" id="form-create-account-password" required>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                        <button type="submit" class="btn pull-right btn-default" id="account-submit">Entrar na Minha Conta</button>
                    </div><!-- /.form-group -->
                </form>
                <hr>
                <div class="center"><a href="<?php echo $this->url('home') ?>admin/usuario/recuperarsenha">Eu não lembro a minha senha</a></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>