<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <?php
  $children = $this->viewModel()->getCurrent()->getChildren();
  $child = $children[0];
  ?>
  <title>SisF | Sistema Financeiro Gratuito e Orçamento Familiar Gratuito</title>
  <link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->basePath(); ?>/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->basePath(); ?>/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->basePath(); ?>/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->basePath(); ?>/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->basePath(); ?>/img<?php echo $this->basePath(); ?>/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->basePath(); ?>/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<?php echo $this->basePath(); ?>/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->basePath(); ?>/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->basePath(); ?>/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo $this->basePath(); ?>/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->basePath(); ?>/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->basePath(); ?>/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<?php echo $this->basePath(); ?>/img/favicon-16x16.png">
  <link rel="manifest" href="<?php echo $this->basePath(); ?>/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<?php echo $this->basePath(); ?>/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap -->
  <link href="<?php echo $this->basePath(); ?>/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="<?php echo $this->basePath(); ?>/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="<?php echo $this->basePath(); ?>/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="<?php echo $this->basePath(); ?>/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="<?php echo $this->basePath(); ?>/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- Datatables -->
  <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="<?php echo $this->basePath(); ?>/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42888050-24', 'auto');
    ga('send', 'pageview');

  </script>
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="<?php echo $this->url('home') ?>admin/index/index" class="site_title"><img src="<?php echo $this->basePath(); ?>/img/favicon-32x32.png"> <span>SisF</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile">

            <div class="profile_info">
              <?php if(isset($_SESSION['userDados']->usuario->nome)){ ?>
              <span>Bem Vindo,</span>
              <h2><?php echo $_SESSION['userDados']->usuario->nome; ?></h2>
              <?php } ?>
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- /menu profile quick info -->

          <br />


          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Menu</h3>
              <ul class="nav side-menu">
                <li><a href="<?php echo $this->url('home') ?>admin/index"><i class="fa fa-home"></i> Home </a>                   
                </li>
                <li><a href="<?php echo $this->url('home') ?>admin/transacao/index"><i class="fa fa-exchange"></i> Entradas e Saídas </a>                   
                </li>
                  <!--<li><a href="<?php echo $this->url('home') ?>admin/capitais/index"><i class="fa fa-money"></i> Capitais </a>                   
                </li>-->
                <li><a href="<?php echo $this->url('home') ?>admin/categoria/index"><i class="fa fa-tag"></i> Categorias </a>                   
                </li>
                <li><a href="<?php echo $this->url('home') ?>admin/subcategoria/index"><i class="fa fa-tags"></i> Subcategorias </a>                   
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="<?php echo $this->url('home') ?>admin/transacao/mensal">Mensal</a></li>
                    <!--<li><a href="<?php echo $this->url('home') ?>admin/relatorio/anual">Anual</a></>li>-->                    
                  </ul>
                </li>
                
                </ul>
              </div>
              

            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
             

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <?php if(isset($_SESSION['userDados']->usuario->nome)){ ?>
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                    <!--<img src="images/img.jpg" alt="">--><?php echo $_SESSION['userDados']->usuario->nome; ?>
                    <span class=" fa fa-angle-down"></span>
                    <?php } ?>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="<?php echo $this->url('home') ?>admin/usuario/perfil"> Alterar Senha</a></li>
                    <!--<li>
                      <a href="javascript:;">
                       
                        <span>Configurações</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Ajuda</a></li>-->
                    <li><a href="<?php echo $this->url('home') ?>admin/auth/logout"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                  </ul>
                </li>


               
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
       
        <!--<div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
           
          </div>
        </div>-->
        
        <?php echo $this->content; ?>

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            SisF | Sistema Financeiro Gratuito
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="<?php echo $this->basePath(); ?>/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="<?php echo $this->basePath(); ?>/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="<?php echo $this->basePath(); ?>/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="<?php echo $this->basePath(); ?>/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="<?php echo $this->basePath(); ?>/vendors/Chart.js/dist/Chart.min.js"></script>

    <!-- iCheck -->
    <script src="<?php echo $this->basePath(); ?>/vendors/iCheck/icheck.min.js"></script>
    

    

    <!-- Datatables -->
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jszip/dist/jszip.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="<?php echo $this->basePath(); ?>/build/js/custom.min.js"></script>


    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              'order': [[ 0, 'desc' ]],
              buttons: [
              {
                extend: "copy",
                className: "btn-sm"
              },
              {
                extend: "csv",
                className: "btn-sm"
              },
              {
                extend: "excel",
                className: "btn-sm"
              },
              {
                extend: "pdfHtml5",
                className: "btn-sm"
              },
              {
                extend: "print",
                className: "btn-sm"
              },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'desc' ]],
          'columnDefs': [
          { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->


    <?php if(isset($child->grafico1)) { ?>
    <?php $saidastemp = 0; ?>
    <?php $total_porcento2 = 0; ?>
    <?php foreach($child->saidas as $s){ 
     $saidastemp = $s['saida'];
   }
   ?>
   <!-- Doughnut Chart -->
   <script>
    $(document).ready(function(){
      var options = {
        legend: false,
        responsive: false
      };

      new Chart(document.getElementById("canvas1"), {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: [
          <?php foreach($child->grafico1 as $g){ ?>
            "<?php echo $g['nome']; ?>",
            <?php } ?>,"Outras"
            ],
            datasets: [{
              data: [
              <?php foreach($child->grafico1 as $g){ ?>
                <?php $total_porcento2+=($g['total']*100)/($saidastemp*(-1)); ?>
                <?php echo number_format(($g['total']*100)/($saidastemp*(-1)), 0, ",", "."); ?>, 
                <?php } ?>
                ,<?php echo number_format((100-$total_porcento2), 0, ",", "."); ?>],
                backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A",
                "#E6E6E6"
                ],
                hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#E6E6E6"
                ]
              }]
            },
            options: options
          });
        /*new Chart(document.getElementById("canvas2"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              "Symbian",
              "Blackberry",
              "Other",
              "Android",
              "IOS"
            ],
            datasets: [{
              data: [15, 20, 30, 10, 30],
              backgroundColor: [
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A",
                "#3498DB"
              ],
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
              ]
            }]
          },
          options: options
        });*/
      });
    </script>
    <?php } ?>
    <!-- /Doughnut Chart -->
    



    
  </body>
  </html>
