  <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="<?php echo $this->url('home') ?>admin/auth/login" method="post" >
              <h1>Entrar</h1>
                <?php if(isset($_SESSION['mensagem'])){ ?>
                    <h3><?php echo $_SESSION['mensagem']; ?></h3>
                    <?php unset($_SESSION['mensagem']);  ?>
                    <?php } ?>
              <div>
                <input type="email" class="form-control" name="nomeusuario" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" name="senha" placeholder="Senha" required="" />
              </div>
              <div>
              <input type="submit" name="btn-entrar" class="btn btn-default submit" value="Entrar">
                
                <a class="reset_pass" href="<?php echo $this->url('home') ?>admin/auth/recuperarsenha">Esqueceu a sua senha?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Novo no site?
                  <a href="#signup" class="to_register"> Criar uma Conta </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="<?php echo $this->basePath(); ?>/img/favicon-32x32.png"> SisF | Sistema Financeiro</h1>
                  <p>©2016 Todos os Direitos reservados. SisF | Sistema Financeiro.</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form action="<?php echo $this->url('home') ?>admin/usuario/registrar" method="post"  >
              <h1>Criar Conta</h1>
              <div>
                <input type="text" class="form-control" name="nome" placeholder="Nome" required="" />
              </div>
              <div>
                <input type="email" class="form-control" name="nomeusuario" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" name="senha" placeholder="Password" required="" />
              </div>
              <div>
              <input type="submit" name="btn-entrar" class="btn btn-default submit" value="Cadastrar">
                <!--<a class="btn btn-default submit" href="">Entrar</a>-->
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Já fez o cadastro ?
                  <a href="#signin" class="to_register"> Entrar </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="<?php echo $this->basePath(); ?>/img/favicon-32x32.png"> SisF | Sistema Financeiro Gratuito</h1>
                  <p>©2016 Todos os Direitos reservados. SisF | Sistema Financeiro.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>