  <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="<?php echo $this->url('home') ?>admin/auth/recuperarsenha" method="post" >
              <h1>Esqueceu a senha?</h1>
                <?php if(isset($_SESSION['mensagem'])){ ?>
                    <h3><?php echo $_SESSION['mensagem']; ?></h3>
                    <?php unset($_SESSION['mensagem']);  ?>
                    <?php } ?>
              <div>
                <input type="email" class="form-control" name="nomeusuario" placeholder="Email" required="" />
              </div>
            
              <div>
              <input type="submit" name="btn-entrar" class="btn btn-default submit" value="Recuperar Senha">
                
               
              </div>

              <div class="clearfix"></div>
                <div class="separator">
                <p class="change_link">Novo no site?
                  <a href="<?php echo $this->url('home') ?>admin/#signup" class="to_register"> Criar uma Conta </a>
                </p>

                <div class="clearfix"></div>
                <br />
                <div class="separator">
                <p class="change_link">Ja tem uma conta
                  <a href="<?php echo $this->url('home') ?>admin" class="to_register"> Fazer Login </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><img src="<?php echo $this->basePath(); ?>/img/favicon-32x32.png"> SisF | Sistema Financeiro</h1>
                  <p>©2016 Todos os Direitos reservados. SisF | Sistema Financeiro.</p>
                </div>
              </div>
            </form>
          </section>
        </div>

       
      </div>
    </div>