<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>SisF | Sistema Financeiro Pessoal Online Gratuito, Orçamento Familiar</title>
	 <link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->basePath(); ?>/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->basePath(); ?>/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->basePath(); ?>/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->basePath(); ?>/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->basePath(); ?>/img<?php echo $this->basePath(); ?>/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->basePath(); ?>/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<?php echo $this->basePath(); ?>/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->basePath(); ?>/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->basePath(); ?>/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo $this->basePath(); ?>/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->basePath(); ?>/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->basePath(); ?>/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<?php echo $this->basePath(); ?>/img/favicon-16x16.png">
  <link rel="manifest" href="<?php echo $this->basePath(); ?>/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<?php echo $this->basePath(); ?>/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
	<meta name="google-site-verification" content="sTPS2I7dTr0izgvVxbwGq3dMpFWGQaZjGatyZp2sMkk" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="<?php echo $this->basePath(); ?>/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="<?php echo $this->basePath(); ?>/web/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href="<?php echo $this->basePath(); ?>/web/css/theme-style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->basePath(); ?>/web/" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!----webfonts---->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
<!----//webfonts---->
<!----requred-js-files---->
<script src="<?php echo $this->basePath(); ?>/web/js/jquery.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/web/js/bootstrap.min.js"></script>
<!----//requred-js-files---->
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42888050-24', 'auto');
  ga('send', 'pageview');

</script>
	<!----start-bg---->
	<div class="bg">
		<!----start-container---->
		<div class="container">
			<!---- start-header---->
			<div class="row header">
				<div class="row">
					<div class="col-md-6">
						<!----start-logo---->
						<div class="well logo">
							<a href="index.html"><img src="<?php echo $this->basePath(); ?>/web/images/logo.png" title="sisf sistema financeiro pessoal gratutio" /></a>
						</div>
						<!----//End-logo---->
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- cabecalho sisf -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6485199016968454"
     data-ad-slot="1219132129"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</div>
					<div class="well col-md-6">
							<!--start-header-right-->
							<div class="login-info well header-right">
								<p><i><a href="#">Já tem uma conta ?</a></i><a class="login btn-primary" href="http://www.sisf.com.br/admin">Login</a></p>
							</div>
							<!---//End-header-right--->
						</div>
					</div>
				</div>
				<!---- //End-header---->
				<!-----slide-banner---->
				<div class="well slide-banner row">
					<div class="slide-banner-left col-md-8">
						<span> </span>
						<h1>Sistema Financeiro Pessoal Gratuito Online</h1>
						<p>Cadastre-se agora e comece a utilizar o SisF. </p>
						<p><a class="btn btn-primary btn-lg b-btn" href="http://www.sisf.com.br/admin#signup"> Clique aqui para se cadastrar</a></p>
					</div>
					<div class="well slide-banner-right col-md-4">
						<img src="<?php echo $this->basePath(); ?>/web/images/slider-img.png" class="img-responsive" alt="" /> 
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-----//slide-banner---->
			</div>
		</div>
		<!----start-top-grids---->
		<div class="top-grids">
			<div class="container">
				<div class="top-grid-left col-md-3">
					<a href="#"><img src="<?php echo $this->basePath(); ?>/web/images/icon2.png" class="img-responsive" title="doc" /></a>
				</div>
				<div class="top-grid-center col-md-7">
					<h2>Organize-se</h2>
					<p>Saiba exatamente onde você tem gasto seu dinheiro.</p>
					<p>O SisF é totalmente gratuito e pode ser utilizado para fazer seu orçamento familiar.</p>
					<p>Comece agora a utilizar nosso sistema financeiro pessoal online e gratuito.</p>
				</div>
						<!--<div class="top-grid-right col-md-2">
							<ul>
								<li><a href="#"><span class="icon1"> </span></a></li>
								<li><a href="#"><span class="icon2"> </span></a></li>
								<div class="clearfix"> </div>
							</ul>
						</div>-->
					</div>
				</div>
				<!----//End-top-grids---->
				<!----start-mid-grids--->
				<div class="mid-grids">
					<div class="container">
							<h3> Interface Moderna e Intuitiva </h3>
							<p>Interface própria para celular e tablets.</p>
							<!-- Carousel -->
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<img src="<?php echo $this->basePath(); ?>/web/images/banner1.png" alt="First slide">
									</div>
									<div class="item">
										<img src="<?php echo $this->basePath(); ?>/web/images/banner2.png" alt="Second slide">
									</div>
								    <!--<div class="item">
								    	<img src="images/slide2.png" alt="three slide">
								    </div>-->
								</div>
								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
							</div><!-- /carousel -->
						</div>
					</div>
				<!----start-mid-grids--->
				<!---- start-add-light-box-script---->
				<!-- Add fancyBox light-box -->
				<script src="<?php echo $this->basePath(); ?>/web/js/jquery.magnific-popup.js" type="text/javascript"></script>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
					});
				</script>
				<!-----pop-up-grid---->
				<div id="small-dialog" class="mfp-hide">
					<div class="pop_up">
						<div class="payment-online-form-left">
							<form>
								<h4><span class="shipping"> </span>Shipping</h4>
								<ul class="list-unstyled">
									<li><input class="text-box-dark" type="text" value="Frist Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Frist Name';}"></li>
									<li><input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
								</ul>
								<ul class="list-unstyled">
									<li><input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
									<li><input class="text-box-dark" type="text" value="Company Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Company Name';}"></li>
								</ul>
								<ul class="list-unstyled">
									<li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
									<li><input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></li>
									<div class="clear"> </div>
								</ul>
								<div class="clearfix"> </div>
								<ul class="payment-type list-unstyled">
									<h4><span class="payment"> </span> Payments</h4>
									<li><span class="col_checkbox">
										<input id="3" class="css-checkbox1" type="checkbox">
										<label for="3" name="demo_lbl_1" class="css-label1"> </label>
										<a class="visa" href="#"> </a>
									</span>

								</li>
								<li>
									<span class="col_checkbox">
										<input id="4" class="css-checkbox2" type="checkbox">
										<label for="4" name="demo_lbl_2" class="css-label2"> </label>
										<a class="paypal" href="#"> </a>
									</span>
								</li>
								<div class="clearfix"> </div>
							</ul>
							<ul class="list-unstyled">
								<li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
								<li><input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
								<div class="clear"> </div>
							</ul>
							<ul class="list-unstyled">
								<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
								<li><input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
								<div class="clear"> </div>
							</ul>
							<ul class="payment-sendbtns list-unstyled">
								<li><input type="reset" value="Cancel"></li>
								<li><input type="submit" value="Process order"></li>
							</ul>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<!-----pop-up-grid---->
			<!-- //End fancyBox light-box -->
			<!---- //End-add-light-box-script---->
				<!--start-price-tables-->
				<div class="pricetables">
					<div class="container">
						<div class="pricetables-head">
							<h2>O Nosso sistema financeiro pessoal é totalmente gratuito</h2>
							<p>Comece agora a utilizar o sisf.</p>
						</div>
						<div class="col-md-4 pricetable" style="float:none; margin: 0 auto;">
							<h3>Gratuito</h3>
							<ul>
								<li><a class="frist-fea" href="#">R$0/Mês</a></li>
								<li><a href="#">Relatórios</a></li>
								<li><a href="#">1 Usuário</a></li>
								<li><a href="#">Ilimitado</a></li>
							</ul>
							<a class="price-btn1 " href="http://www.sisf.com.br/admin#signup">Cadastrar</a>
						</div>
						
					</div>
				</div>
				<!----//End-price-tables----->
				
				<!----start-contact---->
				<div class="contact">
					<div class="container">
						<p><i> </i></p>
						<div class="row">
							<form>
								<div class="col-md-6 contact-text-box">
									<div>
										<span>Nome<label>*</label></span>
										<input type="text" required/>
									</div>
									<div>
										<span>Email<label>*</label></span>
										<input type="text" required/>
									</div>
								</div>
								<div class="col-md-6 contact-text-textarea">
									<div>
										<span>Mensagem<label>*</label></span>
										<textarea> </textarea>
									</div>
									<input class="btn btn-danger btn-lg" type="submit" Value="enviar" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<!----//End-contact---->
				<!--start-footer-->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 footer-left">
								<ul>
									<li><a href="index.html"><img src="<?php echo $this->basePath(); ?>/web/images/footer-logo.png" title="logo" /></a></li>
									<li><p>Desenvolvido por <a href="http://twitter.com/rodriguesamuel">Samuel Rodrigues</a></p></li>
								</ul>
							</div>
							<!--<div class="col-md-6 footer-right">
								<ul>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="facebook" href="#"><span> </span></a></li>
								</ul>
							</div>-->
						</div>
					</div>
				</div>
				<!----//End-footer--->
				<!----//End-container---->

				<!----start-bg---->
			</body>
			</html>

