

              <!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Transações</h3>
      </div>

      
    </div>

    <div class="clearfix"></div>

    <div class="row">
     <!--<div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/e" class="btn btn-success">Adicionar Entrada</a> 
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/s" class="btn btn-danger">Adicionar Saída</a>                 
      </div>
    </div>-->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
       
          <h2>Relatorio Mensal </h2>
         
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 class="green">Entradas</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Categoria</th>
                          <th>Sub Categoria</th>
                          <th>Janeiro</th>
                          <th>Fevereiro</th>
                          <th>Março</th>
                          <th>Abril</th>
                          <th>Maio</th>
                          <th>Junho</th>
                          <th>Julho</th>
                          <th>Agosto</th>
                          <th>Setembro</th>
                          <th>Outubro</th>
                          <th>Novembro</th>
                          <th>Dezembro</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Receita</th>
                          <td>Salário</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                          <tr>
                          <th scope="row">Receita</th>
                          <td>Renda Fixa</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                         <tr>
                          <th scope="row">Receita</th>
                          <td>Poupança</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                        <th scope="row">Total</th>
                          <th></th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                        </tr>
                      
                      </tbody>
                    </table>

                  </div>
                </div>
              </div><!--fim entradas-->
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 class="red">Saídas</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Categoria</th>
                          <th>Sub Categoria</th>
                          <th>Janeiro</th>
                          <th>Fevereiro</th>
                          <th>Março</th>
                          <th>Abril</th>
                          <th>Maio</th>
                          <th>Junho</th>
                          <th>Julho</th>
                          <th>Agosto</th>
                          <th>Setembro</th>
                          <th>Outubro</th>
                          <th>Novembro</th>
                          <th>Dezembro</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Receita</th>
                          <td>Salário</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                          <tr>
                          <th scope="row">Receita</th>
                          <td>Renda Fixa</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                         <tr>
                          <th scope="row">Receita</th>
                          <td>Poupança</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                        <th scope="row">Total</th>
                          <th></th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                        </tr>
                      
                      
                      </tbody>
                    </table>

                  </div>
                </div>
              </div><!--fim entradas-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2 class="blue">Saldo</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Tipo</th>
                          <th></th>
                          <th>Janeiro</th>
                          <th>Fevereiro</th>
                          <th>Março</th>
                          <th>Abril</th>
                          <th>Maio</th>
                          <th>Junho</th>
                          <th>Julho</th>
                          <th>Agosto</th>
                          <th>Setembro</th>
                          <th>Outubro</th>
                          <th>Novembro</th>
                          <th>Dezembro</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Entradas</th>
                          <td></td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                          <tr>
                          <th scope="row">Saídas</th>
                          <td></td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        
                        <tr>
                        <th scope="row">Total</th>
                          <th></th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                          <th>0</th>
                        </tr>
                      
                      
                      </tbody>
                    </table>

                  </div>
                </div>
              </div><!--fim entradas-->
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
        <!-- /page content -->