<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Transações</h3>
      </div>

      
    </div>

    <div class="clearfix"></div>

    <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/e" class="btn btn-success">Adicionar Entrada</a> 
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/s" class="btn btn-danger">Adicionar Saída</a>                 
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Transações </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>-->
                      <!--<li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>-->
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">



                <table  class="table table-striped table-hover dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th >Data</th>
                      <th >Descrição</th>
                      <!--<th>Categoria</th>-->
                      <th >Valor</th>
                      <!--<th style="width: 25%;">Ações</th>-->
                    </tr>
                  </thead>
                  <tbody>
                   <?php foreach ($transacoes as $transacao): ?>
                    <tr>
                      <th   scope="row"><?php echo date('d/m/Y', strtotime($transacao['pagamento'])); ?></th>
                      <td ><?php echo $this->escapeHtml($transacao['descricao']); ?> | <?php echo $this->escapeHtml($transacao['cnome']." - ".$transacao['snome']); ?><br>
                         <a href="<?php echo $this->url('admin') ?>/transacao/save/id/<?php echo $transacao['id']; ?>" title="Editar" class="btn">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a href="<?php echo $this->url('admin') ?>/transacao/delete/id/<?php echo $transacao['id']; ?>" rel="confirmation" title="Deseja excluir este registro?" class="btn">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                      <!--<td ></td>-->
                      <td >  <?php echo number_format($this->escapeHtml($transacao['valor']), 2, ",", "."); ?></td>
                      <!--<td style="width: 25%;">
                       
                      </td>-->
                    </tr>
                  <?php endforeach; ?>   

                </tbody>
              </table>
              <?php
    echo $this->paginationControl(
            $transacoes, 'Sliding', 'partials/paginator/control.phtml'
    );
    ?>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
        <!-- /page content -->