

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Transações</h3>
      </div>

      
    </div>

    <div class="clearfix"></div>

    <div class="row">
     <!--<div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/e" class="btn btn-success">Adicionar Entrada</a> 
        <a href="<?php echo $this->url('admin') ?>/transacao/save/t/s" class="btn btn-danger">Adicionar Saída</a>                 
      </div>
    </div>-->
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">

          <h2>Relatorio Mensal </h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2 class="green">Entradas</h2>

                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <?php
                if(isset($_GET['mes'])){
                  $mes_atual = $_GET['mes']; 
                }else{
                 $mes_atual = date('m'); 
               } ?>

               <table class="table table-hover">
                <thead>
                  <tr>

                    <th style="width: 50%;">Categoria</th>
                    <th style="width: 50%;">                            
                      <form  method="get" >
                        <select name="mes" onchange="this.form.submit()">
                          <option <?php if($mes_atual==1)echo "selected"; ?> value="01">Janeiro</option>
                          <option <?php if($mes_atual==2)echo "selected"; ?> value="02">Fevereiro</option>
                          <option <?php if($mes_atual==3)echo "selected"; ?> value="03">Março</option>
                          <option <?php if($mes_atual==4)echo "selected"; ?> value="04">Abril</option>
                          <option <?php if($mes_atual==5)echo "selected"; ?> value="05">Maio</option>
                          <option <?php if($mes_atual==6)echo "selected"; ?> value="06">Junho</option>
                          <option <?php if($mes_atual==7)echo "selected"; ?> value="07">Julho</option>
                          <option <?php if($mes_atual==8)echo "selected"; ?> value="08">Agosto</option>
                          <option <?php if($mes_atual==9)echo "selected"; ?> value="09">Setembro</option>
                          <option <?php if($mes_atual==10)echo "selected"; ?> value="10">Outubro</option>
                          <option <?php if($mes_atual==11)echo "selected"; ?> value="11">Novembro</option>
                          <option <?php if($mes_atual==12)echo "selected"; ?> value="12">Dezembro</option>
                        </select>
                      </form>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <?php $total_entradas = 0; ?>
                  <?php foreach($entradas as $e){ ?>
                  <tr >

                    <td style="width: 50%;"><?php echo  $e['cnome']; ?>-<?php echo  $e['snome']; ?></td>
                    <td style="width: 50%;">R$ <?php echo number_format($e['total'], 2, ",", "."); ?></td>
                  </tr>
                  <?php $total_entradas += $e['total']; ?>
                  <?php } ?>

                  <tr>
                    <th style="width: 50%;" scope="row">Total</th>

                    <th style="width: 50%;">R$ <?php echo number_format($total_entradas, 2, ",", "."); ?></th>

                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div><!--fim entradas-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="red">Saídas</h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-hover">
                <thead>
                  <tr>

                    <th style="width: 50%;">Categoria</th>
                    <th style="width: 50%;">                            
                      <form method="get" >
                        <select name="mes" onchange="this.form.submit()">
                          <option <?php if($mes_atual==1)echo "selected"; ?> value="1">Janeiro</option>
                          <option <?php if($mes_atual==2)echo "selected"; ?> value="2">Fevereiro</option>
                          <option <?php if($mes_atual==3)echo "selected"; ?> value="3">Março</option>
                          <option <?php if($mes_atual==4)echo "selected"; ?> value="4">Abril</option>
                          <option <?php if($mes_atual==5)echo "selected"; ?> value="5">Maio</option>
                          <option <?php if($mes_atual==6)echo "selected"; ?> value="6">Junho</option>
                          <option <?php if($mes_atual==7)echo "selected"; ?> value="7">Julho</option>
                          <option <?php if($mes_atual==8)echo "selected"; ?> value="8">Agosto</option>
                          <option <?php if($mes_atual==9)echo "selected"; ?> value="9">Setembro</option>
                          <option <?php if($mes_atual==10)echo "selected"; ?> value="10">Outubro</option>
                          <option <?php if($mes_atual==11)echo "selected"; ?> value="11">Novembro</option>
                          <option <?php if($mes_atual==12)echo "selected"; ?> value="12">Dezembro</option>
                        </select>
                      </form>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <?php $total_saidas = 0; ?>
                  <?php foreach($saidas as $e){ ?>
                  <tr>                    
                    <td style="width: 50%;"><?php echo  $e['cnome']; ?>-<?php echo  $e['snome']; ?></td>
                    <td style="width: 50%;">R$ <?php echo number_format($e['total'], 2, ",", "."); ?></td>
                  </tr>
                  <?php $total_saidas += $e['total']; ?>
                  <?php } ?>

                  <tr>
                    <th style="width: 50%;" scope="row">Total</th>                    
                    <th style="width: 50%;">R$ <?php echo number_format($total_saidas, 2, ",", "."); ?></th>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div><!--fim entradas-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2 class="blue">Saldo</h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th style="width: 50%;">Tipo</th>

                    <th style="width: 50%;">
                      <form method="get" >
                        <select name="mes" onchange="this.form.submit()">
                          <option <?php if($mes_atual==1)echo "selected"; ?> value="01">Janeiro</option>
                          <option <?php if($mes_atual==2)echo "selected"; ?> value="02">Fevereiro</option>
                          <option <?php if($mes_atual==3)echo "selected"; ?> value="3">Março</option>
                          <option <?php if($mes_atual==4)echo "selected"; ?> value="4">Abril</option>
                          <option <?php if($mes_atual==5)echo "selected"; ?> value="5">Maio</option>
                          <option <?php if($mes_atual==6)echo "selected"; ?> value="6">Junho</option>
                          <option <?php if($mes_atual==7)echo "selected"; ?> value="7">Julho</option>
                          <option <?php if($mes_atual==8)echo "selected"; ?> value="8">Agosto</option>
                          <option <?php if($mes_atual==9)echo "selected"; ?> value="9">Setembro</option>
                          <option <?php if($mes_atual==10)echo "selected"; ?> value="10">Outubro</option>
                          <option <?php if($mes_atual==11)echo "selected"; ?> value="11">Novembro</option>
                          <option <?php if($mes_atual==12)echo "selected"; ?> value="12">Dezembro</option>
                        </select>
                      </form>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="width: 50%;" scope="row">Entradas</th>
                    
                    <td style="width: 50%;">R$ <?php echo number_format($total_entradas, 2, ",", "."); ?></td>

                  </tr>
                  <tr>
                    <th style="width: 50%;" scope="row">Saídas</th>
                    
                    <td style="width: 50%;">R$ <?php echo number_format($total_saidas, 2, ",", "."); ?></td>
                    
                  </tr>

                  <tr>
                  <th style="width: 50%;" scope="row" title="Entradas - Saídas">Saldo Mês</th>
                    
                    <th style="width: 50%;">R$ <?php echo number_format($total_entradas-$total_saidas, 2, ",", "."); ?></th>

                  </tr>

                  <tr>
                    <th style="width: 50%;" scope="row">Saldo Anterior</th>
                    <?php
                    $saldo_anterior_total = 0;
                    foreach($saldoanterior as $totalanterior){ $saldo_anterior_total = $totalanterior['total']; } ?>
                    <td style="width: 50%;">R$ <?php echo number_format($saldo_anterior_total, 2, ",", "."); ?></td>
                    
                  </tr>
                  <th style="width: 50%;" scope="row" title="Saldo do mês + Saldo Anterior">Saldo Total</th>


                  <td style="width: 50%;">R$ <?php echo number_format(($total_entradas-$total_saidas)+$saldo_anterior_total, 2, ",", "."); ?></td>

                </tr>



              </tbody>
            </table>

          </div>
        </div>
      </div><!--fim entradas-->
    </div>
  </div>
</div>





</div>
</div>
</div>
        <!-- /page content -->