<?php
//echo $this->formCollection($form);
?>
<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
			<h3>Adicionar <?php if($t='e'){ echo "Entrada"; }else{ echo "Saida"; } ?></h3>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Adicionar </h2>
						
						<div class="clearfix"></div>
					</div>
					<div class="x_content">

						<!--<form class="form-horizontal form-label-left" novalidate>-->

						<?php echo $this->form()->openTag($form); ?>

						<?php echo $this->formRow($form->get('id')); ?>
						<?php echo $this->formRow($form->get('tipo')); ?>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Descricao <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('descricao')); ?>
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Valor <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('valor')); ?>
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Categoria <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('subcategoria_id')); ?>
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Pago <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('pago')); ?>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Vencimento <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('vencimento')); ?>
								</div>
							</div>

							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Pagamento <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<?php echo $this->formRow($form->get('pagamento')); ?>
								</div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									
									<button id="send" type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>
						<!--</form>-->
						<?php echo $this->form()->closeTag();  ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
        <!-- /page content -->