<!-- Slider -->
<div id="slider" class="loading has-parallax">
    <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
    <div class="owl-carousel homepage-slider carousel-full-width">
        <div class="slide">
            <div class="container">
                <div class="overlay">
                    <div class="info">
                        <!--<div class="tag price">$ 11,000</div>-->
                        <h3>Anuncie seu imóvel aqui gratuitamente!</h3>
                        <!--<figure>Golden Valley, MN 55427</figure>-->
                    </div>
                    <hr>
                    <a href="<?php echo $this->url('home') ?>admin/auth/index" class="link-arrow">Clique aqui e anuncie seu imóvel agora!</a>
                </div>
            </div>
            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/banner1.jpg">
        </div>
        <div class="slide">
            <div class="container">
                <div class="overlay">
                    <div class="info">
                        <!--<div class="tag price">$ 16,000</div>-->
                        <h3>O maior site de classificados de imóveis gratuito do Brasil!</h3>
                        <!--<figure>Chicago, IL 60610</figure>-->
                    </div>
                    <hr>
                    <!--<a href="property-detail.html" class="link-arrow">Read More</a>-->
                </div>
            </div>
            <img alt="" src="<?php echo $this->basePath(); ?>/assets/img/banner2.jpg">
        </div>
        <!--            <div class="slide">
                        <div class="container">
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price">$ 28,500</div>
                                    <h3>1866 Clement Street</h3>
                                    <figure>Atlanta, GA 30303</figure>
                                </div>
                                <hr>
                                <a href="property-detail.html" class="link-arrow">Read More</a>
                            </div>
                        </div>
                        <img alt="" src="assets/img/slide-03.jpg">
                    </div>-->
                </div>
            </div>
            <!-- end Slider -->
            <script type="text/javascript">
                function OnSubmitForm()
                {
//        alert("to aqui");
        //Montando URL
        var url = "<?php echo $this->url('home') ?>application/index/imoveis";

        var finalidade = document.getElementById("finalidade").value;
        var teste1 = document.getElementById("finalidade");
        var finalidadeText = teste1.options[teste1.selectedIndex].text;
//        alert(finalidadeText);
var estado = document.getElementById("estado").value;
var cidade = document.getElementById("cidade").value;
var teste2 = document.getElementById("cidade");
var cidadeText = teste2.options[teste2.selectedIndex].text;
var bairro = document.getElementById("bairro").value;
var tipo = document.getElementById("tipo").value;
var teste3 = document.getElementById("tipo");
var tipoText = teste3.options[teste3.selectedIndex].text;

if (finalidade != "") {
    url = url + "/f/" + finalidade;           
}

if (cidade != "") {
    url = url + "/c/" + cidade;            
}        
if (tipo != "") {
    url = url + "/t/" + tipo;          
}
if (cidade != "") {         
    url = url + "/cidade/" + cidadeText.replace(" ", "_");
}
if (estado != "") {
    url = url + "/estado/" + estado;
}
if (bairro != "") {
    url = url + "/bairro/" + bairro.replace(" ", "_");
}
if (finalidade != "") {          
    url = url + "/finalidade/" + finalidadeText;
}
if (tipo != "") {           
    url = url + "/tipo/" + tipoText.replace(" ", "_");
}
//        alert(url);
//        document.buscahome.action = url;

window.location.href = url;

return false;
}
</script>
<div class="search-box-wrapper">
    <div class="search-box-inner">
        <div class="container">
            <div class="search-box map">
                <form name="buscahome" role="form" id="form-map-sale" method="get" action="<?php echo $this->url('home') ?>application/index/imoveis" class="form-map form-search clearfix" onsubmit="return OnSubmitForm();">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <select name="finalidade" id="finalidade" required="true" >
                                    <option value="">O que você precisa?</option>
                                    <option value="1">Comprar</option>
                                    <option value="2">Alugar</option>                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                                <select name="estado" id="estado" required="true" onchange="carregarCidades(this.value)">
                                    <option value="">Estado</option>
                                    <?php foreach ($estados as $estado) { ?>
                                        <option value="<?php echo $estado['sigla']; ?>"><?php echo $estado['nome']; ?></option>
                                        <?php } ?>
                                    </select>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group" id="cidades">                                    
                                    <select name="cidade" id="cidade">
                                        <option value="">Cidade</option>                                        
                                    </select>
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group" id="bairros">
                                  <select name="bairro" id="bairro">
                                        <option value="">Bairro ou Região</option>                                        
                                    </select>
                                    <!--<input type="text" name="bairro" id="bairro" size="45"  placeholder="Bairro ou Região" autocomplete="off" list="bairros777"  >
                                    <datalist id="bairros777"> 
                                                                           
                                            <option value="Detroit Lions">
                                            <option value="Detroit Pistons">
                                            <option value="Detroit Red Wings">
                                            <option value="Detroit Tigers">
                                       
                                    </datalist>-->
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="tipo" id="tipo">
                                        <option value="">Tipo</option>
                                        <?php foreach ($tipos as $tipo) { ?>
                                            <option value="<?php echo $tipo['id']; ?>"><?php echo $tipo['tipo']; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div><!-- /.form-group -->
                                </div>
                        <!--                        <div class="col-md-2 col-sm-4">
                                                    <div class="form-group">
                                                        <select name="form-sale-price">
                                                            <option value="">Preço</option>
                                                            <option value="1">R$0,00 - R$1.000,00</option>
                                                            <option value="2">R$2.000,00 - R$50.000,00</option>
                                                            <option value="3">R$51.000,00 - R$100.000,00</option>
                                                            <option value="4">R$101.000,00 - R$500.000,00</option>
                                                            <option value="5">R$501.000,00 +</option>
                                                        </select>
                                                    </div>
                                                </div>-->
                                                <div class="col-md-2 col-sm-4">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-default">Buscar</button>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                        </form><!-- /#form-map -->
                                    </div><!-- /.search-box -->
                                </div><!-- /.container -->
                            </div><!-- /.search-box-inner -->
                        </div>
                        <!-- end Search Box -->

                        <!-- Page Content -->
                        <div id="page-content">
                            <section id="banner">
                                <div class="block has-dark-background background-color-default-darker center text-banner">
                                    <div class="container">
                                        <!-- Imoveislist cabecalho2 -->
                                        <ins class="adsbygoogle"
                                        style="display:block"
                                        data-ad-client="ca-pub-6485199016968454"
                                        data-ad-slot="7254590928"
                                        data-ad-format="auto"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                        <!--<h1 class="no-bottom-margin no-border">Aqui vai a propaganda do google <a href="#" class="text-underline">Tons of Features</a>!</h1>-->
                                    </div>
                                </div>
                            </section><!-- /#banner -->

                            <aside id="advertising" class="block">
                                <div class="container">
                                    <a href="<?php echo $this->url('home') ?>admin/auth/index">
                                        <div class="banner">
                                            <div class="wrapper">
                                                <span class="title">Quer o seu imóvel aqui?</span>
                                                <span class="submit">Inserir anúncio agora! <i class="fa fa-plus-square"></i></span>
                                            </div>
                                        </div><!-- /.banner-->
                                    </a>
                                </div>
                            </aside><!-- /#adveritsing-->

                        </div>
<!-- end Page Content -->